## Rating products

In [13]:
#Rating products - derste anlatılanların denemesi 

import pandas as pd 
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [14]:
# (50+ Saat) Python A-Z™: Veri Bilimi ve Machine Learning
# Puan: 4.8 (4.764925)
# Toplam Puan: 4611
# Puan Yüzdeleri: 75, 20, 4, 1, <1
# Yaklaşık Sayısal Karşılıkları: 3458, 922, 184, 46, 6

In [15]:
df = pd.read_csv('course_reviews.csv')
df.head(3)

   Rating            Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0 5.00000  2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000
1 5.00000  2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000
2 4.50000  2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000

In [16]:
df.shape
#kursa ait değerlendirme sayısını öğrenmek için shape metodundan yararlanabiliriz

(4323, 6)

In [17]:
df.columns

Index(['Rating', 'Timestamp', 'Enrolled', 'Progress', 'Questions Asked', 'Questions Answered'], dtype='object')

In [18]:
df['Rating'].value_counts()
#puanlamanın dağılımını incelemek için

5.00000    3267
4.50000     475
4.00000     383
3.50000      96
3.00000      62
1.00000      15
2.00000      12
2.50000      11
1.50000       2
Name: Rating, dtype: int64

In [19]:
#soru soran kullanıcıların dağılımlarını incelemek için
df['Questions Asked'].value_counts()
#örneğin 11 adet soru soran kullanıcı sayısı 2

0.00000     3867
1.00000      276
2.00000       80
3.00000       43
4.00000       15
5.00000       13
6.00000        9
8.00000        5
9.00000        3
14.00000       2
11.00000       2
7.00000        2
10.00000       2
15.00000       2
22.00000       1
12.00000       1
Name: Questions Asked, dtype: int64

In [20]:
df.groupby('Questions Asked').agg({'Questions Asked':'count',
                                   'Rating': 'mean'})
#yorumlama --> hiç soru sormayan kullanıcıların vermiş olduğu puanların ortlamaası 4,77'dir.

                 Questions Asked  Rating
Questions Asked
0.00000                     3867 4.76519
1.00000                      276 4.74094
2.00000                       80 4.80625
3.00000                       43 4.74419
4.00000                       15 4.83333
5.00000                       13 4.65385
6.00000                        9 5.00000
7.00000                        2 4.75000
8.00000                        5 4.90000
9.00000                        3 5.00000
10.00000                       2 5.00000
11.00000                       2 5.00000
12.00000                       1 5.00000
14.00000                       2 4.50000
15.00000                       2 3.00000
22.00000                       1 5.00000

Kursa Ait Puanların Ortalaması

In [21]:
df['Rating'].mean()

4.764284061993986

Dikkat: Bu kursa verilen puanların sadece ortalamasını alarak kursun başarısını yorumlamak doğru olamayabilir. "Memnuniyet trendi"ni kaçırmamıza sebebiyet verebilir, dolayısıyla başka yöntemlere başvurulması gerekebilir.

## Puan Zamanlarına Göre Ağırlıklı Ortalama 
>Puan verilen tarihi, ortalama puan hesaplarken düşünmeli miyiz? Düşünürsek nasıl bir hesaplama yapmalıyız?

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

Timestamp sütunu object tipindedir, bu sütunu datetime tipine çevirmeliyiz.

In [23]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   datetime64[ns]
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 202.8+ KB

In [24]:
current_date = pd.to_datetime('2021-02-10 0:0:0')
#yorumların kaç günlük olduğu hesaplamak için sabit bir tarih belirlendi - veri seti eski olduğu için tarih de eski.

In [25]:
df['Days'] = (current_date - df['Timestamp']).dt.days

In [26]:
df.head(3)

   Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  Days
0 5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000     4
1 5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000     5
2 4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000     5

In [27]:
#yorum yapma günü 30 günden az olan kayıtları filtreleme
df[df['Days'] <= 30]

     Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  Days
0   5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000     4
1   5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000     5
2   4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000     5
3   5.00000 2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000     5
4   4.00000 2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000     5
5   4.00000 2021-02-04 12:42:36  2021-02-01 15:40:13   1.00000          0.00000             0.00000     5
6   5.00000 2021-02-04 12:25:30  2020-11-30 19:23:54  85.00000          0.00000             4.00000     5
7   4.50000 2021-02-04 11:13:15  2021-01-08 08:05:42  10.00000          0.00000             0.00000     5
8   5.00000 2021-02-04 08:59:53  2021-02-02 18:14:49   1.00000          0.00000             0.00000     5
9   5.00000 2021-02-03 22:40:04  2020-08-01 22:30:42  35.00000          0.00000             0.00000     6
10  5.00000 2021-02-03 21:26:02  2021-02-01 09:54:49   5.00000          0.00000             0.00000     6
11  5.00000 2021-02-03 21:14:25  2021-02-01 18:45:00   1.00000          0.00000             0.00000     6
12  5.00000 2021-02-03 20:55:19  2021-02-03 20:00:04  10.00000          0.00000             0.00000     6
13  3.00000 2021-02-03 19:16:45  2021-02-03 18:42:21   1.00000          0.00000             0.00000     6
14  5.00000 2021-02-03 19:08:33  2020-03-29 09:07:41  93.00000          1.00000             0.00000     6
15  5.00000 2021-02-03 18:57:11  2020-03-19 19:28:43   1.00000          0.00000             0.00000     6
16  2.50000 2021-02-03 18:56:58  2021-02-01 09:23:31   5.00000          0.00000             0.00000     6
17  5.00000 2021-02-03 17:21:45  2021-01-28 20:46:12   5.00000          0.00000             0.00000     6
18  5.00000 2021-02-03 17:12:26  2019-07-25 08:04:26  35.00000          0.00000             0.00000     6
19  5.00000 2021-02-03 16:13:36  2021-02-02 07:15:55   5.00000          0.00000             0.00000     6
20  4.00000 2021-02-02 23:55:23  2021-02-02 17:47:41   1.00000          0.00000             0.00000     7
21  5.00000 2021-02-02 22:34:25  2021-01-19 22:29:49   5.00000          0.00000             0.00000     7
22  5.00000 2021-02-02 21:59:49  2021-01-03 19:42:39  35.00000          0.00000             0.00000     7
23  5.00000 2021-02-02 18:00:59  2021-01-27 13:11:18   1.00000          0.00000             0.00000     7
24  5.00000 2021-02-02 16:29:58  2021-02-02 16:10:52  15.00000          0.00000             0.00000     7
25  5.00000 2021-02-02 14:30:03  2020-04-04 22:14:15  25.00000          0.00000             0.00000     7
26  5.00000 2021-02-02 12:54:25  2021-02-02 09:07:03  15.00000          0.00000             0.00000     7
27  5.00000 2021-02-02 12:02:59  2020-09-20 12:26:30   1.00000          0.00000             0.00000     7
28  5.00000 2021-02-02 11:58:42  2021-02-02 10:07:22  20.00000          0.00000             0.00000     7
29  5.00000 2021-02-02 10:47:54  2020-08-20 19:14:01   5.00000          0.00000             0.00000     7
30  5.00000 2021-02-02 04:58:56  2021-01-31 14:58:49  15.00000          0.00000             0.00000     7
31  5.00000 2021-02-01 21:27:36  2021-01-24 17:58:23  65.00000          0.00000             0.00000     8
32  5.00000 2021-02-01 19:27:59  2021-02-01 12:08:22   1.00000          0.00000             0.00000     8
33  4.50000 2021-02-01 13:09:17  2021-02-01 11:14:17  10.00000          0.00000             0.00000     8
34  5.00000 2021-02-01 12:16:46  2021-02-01 06:15:18  40.00000          0.00000             0.00000     8
35  4.50000 2021-02-01 09:29:56  2021-01-29 08:29:31  15.00000          0.00000             0.00000     8
36  5.00000 2021-02-01 07:57:43  2020-11-22 16:09:36   1.00000          0.00000             0.00000     8
37  5.00000 2021-02-01 06:03:40  2021-01-30 10:23:03   1.00000          0.00000             0.00000     8
38  5.00000 2021-01-31 21:45:28  2021-01-31 21:29:47   1.00000          0.00000             0.00000     9
39  5.00000 2021-01-31 20:52:42  2019-11-18 11:37:06   0.00000          0.00000             0.00000     9
40  3.50000 2021-01-31 19:48:51  2020-12-21 16:29:26  20.00000          0.00000             0.00000     9
41  4.50000 2021-01-31 19:34:20  2021-01-07 23:14:52   5.00000          0.00000             0.00000     9
42  5.00000 2021-01-31 18:59:27  2021-01-13 09:37:26   5.00000          0.00000             0.00000     9
43  3.50000 2021-01-31 18:07:01  2021-01-25 10:17:43   1.00000          0.00000             0.00000     9
44  5.00000 2021-01-31 16:02:14  2021-01-06 10:56:43  35.00000          0.00000             0.00000     9
45  5.00000 2021-01-31 15:45:39  2021-01-30 12:58:11  15.00000          0.00000             0.00000     9
46  4.50000 2021-01-31 15:23:46  2019-09-26 09:11:42   1.00000          0.00000             0.00000     9
47  5.00000 2021-01-31 14:13:32  2021-01-31 11:01:52  10.00000          0.00000             0.00000     9
48  4.50000 2021-01-31 11:23:24  2021-01-18 20:24:40  20.00000          0.00000             0.00000     9
49  5.00000 2021-01-31 08:48:53  2020-04-05 03:00:25   5.00000          0.00000             0.00000     9
50  5.00000 2021-01-31 08:05:53  2020-06-19 09:33:06  15.00000          0.00000             0.00000     9
51  5.00000 2021-01-30 22:17:08  2020-12-20 14:12:51  15.00000          0.00000             0.00000    10
52  5.00000 2021-01-30 18:47:09  2020-12-02 13:50:48  10.00000          0.00000             0.00000    10
53  4.00000 2021-01-30 18:00:45  2021-01-30 15:57:15   5.00000          0.00000             0.00000    10
54  5.00000 2021-01-30 17:46:47  2020-12-11 18:14:02  15.00000          0.00000             0.00000    10
55  5.00000 2021-01-30 16:57:13  2021-01-25 21:45:33  25.00000          0.00000             0.00000    10
56  5.00000 2021-01-30 16:25:44  2020-12-19 14:24:20  10.00000          0.00000             0.00000    10
57  3.00000 2021-01-30 13:44:07  2021-01-30 13:29:10   5.00000          0.00000             0.00000    10
58  5.00000 2021-01-30 12:35:03  2021-01-29 15:04:39  20.00000          0.00000             0.00000    10
59  5.00000 2021-01-30 12:10:22  2021-01-08 13:01:12  10.00000          0.00000             0.00000    10
60  5.00000 2021-01-30 11:45:02  2020-10-01 22:02:51  10.00000          0.00000             0.00000    10
61  5.00000 2021-01-30 11:28:26  2021-01-28 11:56:46  25.00000          0.00000             0.00000    10
62  5.00000 2021-01-30 10:19:14  2021-01-27 17:39:07  10.00000          0.00000             0.00000    10
63  5.00000 2021-01-29 22:30:04  2021-01-25 11:14:11  12.00000          0.00000             0.00000    11
64  5.00000 2021-01-29 20:57:29  2021-01-25 12:44:46   5.00000          0.00000             0.00000    11
65  4.00000 2021-01-29 19:51:08  2021-01-29 15:07:15  10.00000          0.00000             0.00000    11
66  5.00000 2021-01-29 18:07:02  2020-10-21 14:07:39  15.00000          0.00000             0.00000    11
67  5.00000 2021-01-29 17:54:38  2021-01-24 19:57:27  40.00000          0.00000             0.00000    11
68  5.00000 2021-01-29 15:52:18  2021-01-29 14:50:13  10.00000          0.00000             0.00000    11
69  5.00000 2021-01-29 13:50:57  2021-01-25 12:33:50   5.00000          0.00000             0.00000    11
70  5.00000 2021-01-29 13:38:44  2020-11-18 12:17:20  25.00000          0.00000             0.00000    11
71  3.50000 2021-01-29 11:36:47  2021-01-29 07:34:41  10.00000          1.00000             0.00000    11
72  4.50000 2021-01-29 11:12:09  2021-01-29 10:48:00  30.00000          0.00000             0.00000    11
73  5.00000 2021-01-29 07:49:51  2020-12-24 09:02:22   1.00000          0.00000             0.00000    11
74  5.00000 2021-01-29 06:34:40  2020-12-11 15:27:55  25.00000          0.00000             0.00000    11
75  4.50000 2021-01-28 20:17:56  2020-08-21 05:03:49   5.00000          0.00000             0.00000    12
76  5.00000 2021-01-28 17:33:55  2020-12-16 16:24:54  10.00000          0.00000             0.00000    12
77  5.00000 2021-01-28 10:09:21  2021-01-27 08:43:49   1.00000          0.00000             0.00000    12
78  5.00000 2021-01-28 08:35:46  2020-12-01 15:11:04   5.00000          0.00000             0.00000    12
79  5.00000 2021-01-27 22:36:15  2021-01-25 12:45:43  25.00000          0.00000             0.00000    13
80  5.00000 2021-01-27 22:25:12  2021-01-01 16:29:47   1.00000          0.00000             0.00000    13
81  5.00000 2021-01-27 21:25:43  2021-01-22 13:20:49  50.00000          0.00000             0.00000    13
82  4.00000 2021-01-27 20:46:02  2021-01-27 20:29:57  35.00000          0.00000             0.00000    13
83  5.00000 2021-01-27 19:20:43  2020-12-21 14:59:05  15.00000          0.00000             0.00000    13
84  4.00000 2021-01-27 18:56:24  2021-01-21 18:29:24  20.00000          0.00000             0.00000    13
85  5.00000 2021-01-27 17:21:08  2021-01-19 16:25:49   5.00000          0.00000             0.00000    13
86  5.00000 2021-01-27 14:16:50  2020-02-27 18:19:16  30.00000          0.00000             0.00000    13
87  5.00000 2021-01-27 09:01:39  2021-01-20 15:02:50  20.00000          0.00000             0.00000    13
88  5.00000 2021-01-27 07:19:53  2021-01-05 08:30:51  20.00000          0.00000             0.00000    13
89  4.50000 2021-01-26 20:35:29  2021-01-26 14:48:57  15.00000          1.00000             0.00000    14
90  5.00000 2021-01-26 20:31:50  2019-11-16 07:51:59  45.00000          0.00000             0.00000    14
91  5.00000 2021-01-26 18:21:17  2020-12-01 19:33:38  30.00000          0.00000             0.00000    14
92  5.00000 2021-01-26 12:46:00  2020-12-29 07:29:58   5.00000          0.00000             0.00000    14
93  5.00000 2021-01-26 11:36:24  2020-01-08 12:52:26  40.00000          0.00000             0.00000    14
94  4.00000 2021-01-26 11:10:07  2020-11-05 11:06:13  15.00000          0.00000             0.00000    14
95  5.00000 2021-01-26 11:06:34  2021-01-01 11:27:34  20.00000          0.00000             0.00000    14
96  5.00000 2021-01-26 09:16:21  2020-11-30 19:35:46   1.00000          0.00000             0.00000    14
97  2.00000 2021-01-26 07:56:03  2020-03-23 16:51:55   5.00000          0.00000             0.00000    14
98  5.00000 2021-01-25 17:32:32  2020-12-24 17:13:40   5.00000          0.00000             0.00000    15
99  4.50000 2021-01-25 15:09:45  2021-01-25 07:29:07  50.00000          0.00000             0.00000    15
100 5.00000 2021-01-25 10:39:05  2021-01-24 22:35:42   5.00000          0.00000             0.00000    15
101 5.00000 2021-01-24 18:47:59  2020-03-19 20:57:23   5.00000          0.00000             0.00000    16
102 5.00000 2021-01-24 15:14:33  2019-05-30 07:59:23  15.00000          0.00000             0.00000    16
103 4.50000 2021-01-24 14:03:11  2021-01-01 16:46:36   5.00000          0.00000             0.00000    16
104 5.00000 2021-01-24 12:46:01  2021-01-04 18:28:21  30.00000          0.00000             0.00000    16
105 4.00000 2021-01-24 12:28:11  2021-01-24 08:25:55  15.00000          0.00000             0.00000    16
106 5.00000 2021-01-24 10:51:47  2020-12-29 20:02:35  15.00000          0.00000             0.00000    16
107 5.00000 2021-01-24 08:43:13  2020-12-02 07:32:55  50.00000          0.00000             0.00000    16
108 4.50000 2021-01-23 22:44:03  2020-04-05 11:02:47  35.00000          0.00000             0.00000    17
109 4.50000 2021-01-23 19:24:26  2020-12-31 21:38:12   1.00000          0.00000             0.00000    17
110 5.00000 2021-01-23 18:57:28  2021-01-23 12:43:47  25.00000          0.00000             0.00000    17
111 5.00000 2021-01-23 17:46:26  2021-01-14 19:11:17  20.00000          0.00000             0.00000    17
112 5.00000 2021-01-22 19:11:38  2020-12-04 17:17:47  80.00000          1.00000             2.00000    18
113 4.00000 2021-01-22 09:08:13  2021-01-21 09:33:33   5.00000          0.00000             0.00000    18
114 5.00000 2021-01-22 08:08:05  2021-01-19 07:14:58   5.00000          0.00000             0.00000    18
115 5.00000 2021-01-21 22:11:40  2020-01-09 19:10:29  10.00000          0.00000             0.00000    19
116 5.00000 2021-01-21 18:44:16  2021-01-20 09:42:12  25.00000          0.00000             0.00000    19
117 5.00000 2021-01-21 17:17:27  2020-05-01 15:14:45  30.00000          0.00000             0.00000    19
118 4.50000 2021-01-21 15:22:42  2021-01-21 08:55:44   1.00000          0.00000             0.00000    19
119 5.00000 2021-01-21 11:49:21  2021-01-20 05:30:17   5.00000          0.00000             0.00000    19
120 5.00000 2021-01-21 09:27:41  2021-01-03 20:18:04   5.00000          0.00000             0.00000    19
121 5.00000 2021-01-21 08:46:45  2021-01-20 15:22:05  15.00000          0.00000             0.00000    19
122 5.00000 2021-01-21 05:41:13  2021-01-20 12:51:01  65.00000          0.00000             0.00000    19
123 5.00000 2021-01-20 20:00:20  2021-01-06 18:57:09  15.00000          0.00000             0.00000    20
124 4.50000 2021-01-20 19:50:41  2020-11-21 14:15:10  10.00000          0.00000             0.00000    20
125 5.00000 2021-01-20 18:37:29  2021-01-20 01:30:36  20.00000          0.00000             0.00000    20
126 5.00000 2021-01-20 17:12:19  2019-06-04 11:16:37   0.00000          0.00000             0.00000    20
127 5.00000 2021-01-19 22:56:44  2020-09-14 17:31:02  30.00000          0.00000             0.00000    21
128 5.00000 2021-01-19 16:50:09  2020-12-03 06:38:25  15.00000          0.00000             0.00000    21
129 5.00000 2021-01-19 14:27:28  2020-12-15 13:47:25  20.00000          0.00000             0.00000    21
130 5.00000 2021-01-19 11:03:03  2021-01-19 10:39:32   1.00000          0.00000             0.00000    21
131 5.00000 2021-01-19 10:14:39  2021-01-14 11:26:58  10.00000          0.00000             0.00000    21
132 3.50000 2021-01-19 01:29:01  2021-01-08 12:41:54  10.00000          0.00000             0.00000    21
133 5.00000 2021-01-18 23:19:50  2020-04-05 09:22:46   1.00000          0.00000             0.00000    22
134 5.00000 2021-01-18 21:09:08  2021-01-17 20:11:03  10.00000          0.00000             0.00000    22
135 5.00000 2021-01-17 22:33:40  2019-11-13 12:05:03  10.00000          0.00000             0.00000    23
136 5.00000 2021-01-17 22:22:24  2020-12-26 13:25:30   1.00000          0.00000             0.00000    23
137 5.00000 2021-01-17 19:45:29  2021-01-08 12:29:06  20.00000          0.00000             0.00000    23
138 5.00000 2021-01-17 19:09:36  2021-01-15 08:00:12  60.00000          0.00000             0.00000    23
139 5.00000 2021-01-17 18:39:44  2021-01-02 17:04:13  30.00000          0.00000             0.00000    23
140 5.00000 2021-01-17 17:35:20  2021-01-15 10:03:31  35.00000          0.00000             0.00000    23
141 4.50000 2021-01-17 14:35:23  2021-01-05 19:25:51  10.00000          0.00000             0.00000    23
142 5.00000 2021-01-17 14:24:30  2021-01-05 20:51:18  15.00000          1.00000             0.00000    23
143 5.00000 2021-01-17 12:24:18  2021-01-17 06:54:32  45.00000          0.00000             0.00000    23
144 4.50000 2021-01-17 11:13:09  2021-01-13 18:17:40   5.00000          0.00000             0.00000    23
145 5.00000 2021-01-17 10:52:33  2021-01-16 11:51:13   5.00000          0.00000             0.00000    23
146 5.00000 2021-01-17 03:29:40  2020-11-25 23:25:34  30.00000          0.00000             0.00000    23
147 5.00000 2021-01-17 00:04:38  2020-12-26 17:57:07   1.00000          0.00000             0.00000    23
148 5.00000 2021-01-16 22:22:44  2021-01-08 20:58:17   1.00000          0.00000             0.00000    24
149 5.00000 2021-01-16 22:16:16  2020-12-26 13:25:21  20.00000          0.00000             0.00000    24
150 5.00000 2021-01-16 17:43:14  2020-01-09 08:29:43  35.00000          0.00000             0.00000    24
151 5.00000 2021-01-16 16:57:18  2021-01-15 19:43:44  10.00000          0.00000             0.00000    24
152 5.00000 2021-01-16 16:49:29  2021-01-16 16:08:01  10.00000          2.00000             0.00000    24
153 5.00000 2021-01-16 14:54:39  2020-11-29 19:47:39  15.00000          0.00000             0.00000    24
154 4.00000 2021-01-16 13:54:39  2021-01-16 13:43:15  30.00000          0.00000             0.00000    24
155 4.00000 2021-01-16 13:36:37  2021-01-16 11:13:02   5.00000          0.00000             0.00000    24
156 5.00000 2021-01-16 13:02:42  2021-01-13 06:03:42   5.00000          0.00000             0.00000    24
157 5.00000 2021-01-16 12:33:22  2021-01-12 09:50:58  15.00000          0.00000             0.00000    24
158 4.50000 2021-01-16 11:17:22  2020-12-03 16:58:41   1.00000          0.00000             0.00000    24
159 5.00000 2021-01-16 08:44:28  2019-11-23 18:30:38  35.00000          0.00000             1.00000    24
160 4.50000 2021-01-15 22:51:07  2020-10-06 20:33:46  10.00000          0.00000             0.00000    25
161 5.00000 2021-01-15 20:34:11  2021-01-08 10:40:17  20.00000          0.00000             0.00000    25
162 5.00000 2021-01-15 18:47:51  2021-01-06 21:16:57   5.00000          0.00000             0.00000    25
163 5.00000 2021-01-15 18:05:05  2021-01-15 14:56:01   1.00000          0.00000             0.00000    25
164 5.00000 2021-01-15 15:19:00  2020-12-18 18:38:20  10.00000          0.00000             0.00000    25
165 5.00000 2021-01-14 21:26:27  2021-01-12 09:08:10  10.00000          0.00000             0.00000    26
166 5.00000 2021-01-14 14:03:14  2020-12-22 11:43:45  30.00000          0.00000             0.00000    26
167 4.50000 2021-01-13 21:49:32  2019-11-27 14:10:04 100.00000          2.00000             1.00000    27
168 4.00000 2021-01-13 12:16:51  2021-01-12 08:58:53  20.00000          0.00000             0.00000    27
169 5.00000 2021-01-13 09:15:07  2020-08-28 11:12:39   0.00000          0.00000             0.00000    27
170 5.00000 2021-01-13 06:49:33  2021-01-13 06:26:26  20.00000          0.00000             0.00000    27
171 5.00000 2021-01-13 00:22:06  2019-05-30 22:33:09   1.00000          0.00000             0.00000    27
172 5.00000 2021-01-12 19:25:14  2021-01-12 19:09:54  10.00000          0.00000             0.00000    28
173 3.00000 2021-01-12 11:21:08  2020-10-22 09:34:15   1.00000          0.00000             0.00000    28
174 5.00000 2021-01-12 09:51:38  2020-11-23 18:10:54 100.00000          0.00000             0.00000    28
175 5.00000 2021-01-12 05:29:55  2020-09-16 17:43:06  20.00000          0.00000             0.00000    28
176 4.00000 2021-01-12 04:01:50  2020-09-26 13:20:49  25.00000          0.00000             0.00000    28
177 5.00000 2021-01-11 22:49:08  2021-01-11 22:25:12   1.00000          0.00000             0.00000    29
178 5.00000 2021-01-11 22:17:47  2020-08-17 16:31:53   1.00000          0.00000             0.00000    29
179 4.50000 2021-01-11 20:42:42  2021-01-10 12:10:42  10.00000          0.00000             0.00000    29
180 4.50000 2021-01-11 20:31:28  2021-01-09 15:26:27   5.00000          0.00000             0.00000    29
181 5.00000 2021-01-11 20:02:33  2021-01-05 10:40:38   1.00000          0.00000             0.00000    29
182 5.00000 2021-01-11 17:04:13  2020-12-06 10:26:46 100.00000          0.00000             0.00000    29
183 5.00000 2021-01-11 14:06:01  2021-01-11 05:14:47   1.00000          0.00000             0.00000    29
184 4.50000 2021-01-11 13:18:31  2021-01-05 11:32:42  30.00000          1.00000             0.00000    29
185 5.00000 2021-01-11 12:37:32  2020-12-21 22:06:12   5.00000          0.00000             0.00000    29
186 5.00000 2021-01-11 11:36:39  2020-11-08 07:51:37  10.00000          0.00000             0.00000    29

In [28]:
df[df['Days'] <= 30].count()

Rating                194
Timestamp             194
Enrolled              194
Progress              194
Questions Asked       194
Questions Answered    194
Days                  194
dtype: int64

In [29]:
df.loc[df['Days'] <= 30, 'Rating'].mean()

4.775773195876289

In [30]:
#yorum gününün üzerinde 30 gün geçmiş ancak 90 günden az olan yorumların puan ortalaması
df.loc[(df['Days'] > 30) & (df['Days'] <= 90), 'Rating'].mean()

4.763833992094861

In [31]:
df.loc[(df['Days'] > 90) & (df['Days'] <= 180), 'Rating'].mean()

4.752503576537912

In [32]:
df.loc[df['Days'] > 180, 'Rating'].mean()

4.76641586867305

Yukarıdaki değerlere bakıldığında ortalama puanların artması bu kursa verilen puanların son 30 günde artış olduğunu göstermektedir.

puan zamanlarına göre ağırlıklı bir ortalama puan hesaplamak için fonksiyon tanımlayıp ortalama değer hesaplanabilir.

In [33]:
#dataframein istenilen sütunlara sahip olmasına dikkat etmek gerekiyor. örn:days sütununu sonradan ekledik.
def time_based_weighted_average(dataframe, w1=28, w2=26, w3=24, w4=22):
    """
    Bu fonksiyon, verilen dataframe içindeki her bir sütunun değerlerini
    zaman bazlı ortalama hesaplar.

    Argümanlar:
    dataframe (pandas.DataFrame): Verilen dataframe.
    w1 (int): İlk zamanlı ortalama için göreceği gün sayısı.
    w2 (int): İkinci zamanlı ortalama için göreceği gün sayısı.
    w3 (int): Üçüncü zamanlı ortalama için göreceği gün sayısı.
    w4 (int): Dördüncü zamanlı ortalama için göreceği gün sayısı.
    """
    return dataframe.loc[dataframe['Days'] <= 30, 'Rating'].mean() * w1/100 + \
           dataframe.loc[(df['Days'] > 30) & (df['Days'] <= 90), 'Rating'].mean() * w2/100 + \
           dataframe.loc[(dataframe["Days"] > 90) & (dataframe["Days"] <= 180), "Rating"].mean() * w3 / 100 + \
           dataframe.loc[(dataframe["Days"] > 180), "Rating"].mean() * w4 / 100

In [34]:
time_based_weighted_average(df)

4.765025682267194

## Kullanıcı Temelli Ağırlıklı Ortalama 
>Kullanıcının kurstaki ilerlemesine göre verdiği puanın ağırlıklandırması söz konusu olduğunda ne yapmalıyız?

Burada kalite metriği ya da nitelik metriği 'Progress'tir.

In [35]:
df.groupby('Progress').agg({'Rating':'mean'})

           Rating
Progress
0.00000   4.67391
1.00000   4.64269
2.00000   4.65476
3.00000   4.66355
4.00000   4.77733
5.00000   4.69821
6.00000   4.75510
7.00000   4.73256
8.00000   4.74194
9.00000   4.83125
10.00000  4.74569
11.00000  4.83333
12.00000  4.83333
13.00000  4.59375
14.00000  4.86957
15.00000  4.71458
16.00000  4.90000
17.00000  4.85000
18.00000  4.87500
19.00000  4.81250
20.00000  4.78352
21.00000  4.80000
22.00000  4.60000
23.00000  4.84615
24.00000  4.73333
25.00000  4.81687
26.00000  5.00000
27.00000  4.81250
28.00000  4.94444
29.00000  4.57692
30.00000  4.79808
31.00000  4.91667
32.00000  5.00000
33.00000  4.93750
34.00000  4.75000
35.00000  4.85959
36.00000  4.33333
37.00000  5.00000
38.00000  4.90000
39.00000  4.58333
40.00000  4.76786
41.00000  3.16667
42.00000  5.00000
43.00000  5.00000
44.00000  4.95455
45.00000  4.80769
46.00000  5.00000
47.00000  5.00000
48.00000  5.00000
49.00000  5.00000
50.00000  4.80198
51.00000  4.50000
52.00000  5.00000
53.00000  4.85714
54.00000  4.94444
55.00000  4.77660
56.00000  5.00000
57.00000  5.00000
58.00000  4.50000
59.00000  5.00000
60.00000  4.78947
61.00000  5.00000
62.00000  5.00000
63.00000  4.80000
64.00000  4.81250
65.00000  4.84314
66.00000  5.00000
67.00000  5.00000
69.00000  5.00000
70.00000  4.78947
71.00000  5.00000
72.00000  5.00000
73.00000  5.00000
74.00000  5.00000
75.00000  4.93750
77.00000  5.00000
78.00000  5.00000
80.00000  4.75000
83.00000  5.00000
84.00000  5.00000
85.00000  4.91379
87.00000  5.00000
89.00000  4.79412
90.00000  4.92308
91.00000  5.00000
93.00000  4.83333
94.00000  5.00000
95.00000  4.79412
97.00000  5.00000
98.00000  5.00000
100.00000 4.86632

Yukarıdaki sonuca bakıldığında kursun izleme oranları ile verilen puan arasında bir ilişki olduğu söylenebilir.

In [47]:
def user_based_weighted_average(dataframe, w1=22, w2=24, w3=26, w4=28):
    return dataframe.loc[dataframe['Progress'] <= 10, 'Rating'].mean() * w1/100 + \
           dataframe.loc[(dataframe['Progress'] > 10) & (dataframe['Progress'] <= 45), 'Rating'].mean() * w2/100 + \
           dataframe.loc[(dataframe['Progress'] > 45) & (dataframe['Progress'] <= 75), 'Rating'].mean() * w3/100 + \
           dataframe.loc[dataframe['Progress'] > 75, 'Rating'].mean() * w4/100

In [48]:
user_based_weighted_average(df)

4.800257704672543

## Ağırlıklı Derecelendirme

In [49]:
def weighted_rating(dataframe, time_w=50, user_w=50):
    return time_based_weighted_average(dataframe) * time_w / 100 + user_based_weighted_average(dataframe) * user_w / 100

In [50]:
weighted_rating(df)

4.782641693469868